<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ThreeAArt_Theme>
            <version>0.1.0</version>
        </ThreeAArt_Theme>
    </modules>
    <global>
        <blocks>
            <threeaart_theme>
                <class>ThreeAArt_Theme_Block</class>
            </threeaart_theme>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <threeAArt_reset>
                    <file>threeAArt_reset.xml</file>
                </threeAArt_reset>
                <threeAArt_custom>
                    <file>threeAArt_custom.xml</file>
                </threeAArt_custom>
            </updates>
        </layout>
    </frontend>
    <default>
        <design>
            <theme>
                <template>threeAArt</template>
                <default>threeAArt</default>
                <layout>threeAArt</layout>
            </theme>
        </design>
    </default>
</config>